<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>CNN Live</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>cnn://1</string>
				<string>cnn://2</string>
				<string>cnn://3</string>
				<string>cnn://4</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>cnn://[1-9]+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
